<%- if !version.nil? and !version.milestones.empty? -%>
<p>
  <strong><%=l(:label_milestone_plural)%>:</strong>
  <%= version.milestones.sort.collect {|m| link_to(m.name, {:controller => :milestones, :action => :show, :id => m.id})}.join(", ") %>
</p>
<%- end -%>